#game {
  position: relative; }
  #game table {
    margin: 0;
    padding: 0;
    border-collapse: collapse; }
  #game td {
    width: 100px;
    height: 100px;
    background: darkgray;
    border: 10px solid lightgray; }
  #game .value {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    display: table-cell;
    width: 100px;
    height: 100px;
    background: #ffffff;
    border: 5px solid lightgray;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 100px; }
