#game {
    $size: 100px;
    $border: 10px;

    position: relative;

    table {
        margin: 0;
        padding: 0;
        border-collapse: collapse;
    }

    td {
        width: $size;
        height: $size;
        background: darkgray;
        border: $border solid lightgray;
    }

    .value {
        position: absolute;
        display: table-cell;
        width: $size;
        height: $size;
        background: #ffffff;
        border: $border / 2 solid lightgray;
        text-align: center;
        font: {
            size: 30px;
            weight: bold;
        }
        line-height: $size;
    }
}