$size: 3;
$duration: 0.15;

@for $i from 1 through $size {
    $time: $duration + ($size - $i) * $duration;

    .a-speed--#{$i} {
        animation-duration: #{$time}s;
    }

    .t-speed--#{$i} {
        transition-duration: #{$time}s;
    }
}
