@import './../variables/colors';
@import './../variables/dimensions';

.c-value {
    animation-fill-mode: both;

    position: absolute;
    z-index: 10;
    width: $size;
    height: $size;
    overflow: hidden;
    background: $white;
    background-clip: padding-box;
    border: $border / 2 solid $transparent;
    opacity: 0;
    text-align: center;
    font: {
        size: 30px;
        weight: bold;
    }
    line-height: $size;
    color: $black;

    &.ready {
        opacity: 1;
    }

    &.appear {
        animation-name: bounce;
    }

    &.destroy {
        animation-name: fadeOut;
    }
}